 *, body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/*
.products__list{
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
}

.products__list > li {


  border-radius: 10%;
  min-height: 50px;
  min-width: 50px;
  max-width: 80px;
  margin:5px;
  text-align: center;
}

.product__img {
  
max-width: 80px;
border-top-left-radius: 10%;
border-top-right-radius: 10%;

}

.product__container{

  border-radius: 10%;
  margin-bottom: 20px;
}

.product__container--tobuy{
 
  border-radius: 10%;
  background:green;
} */